*{outline: 1px solid red;}
.text-center{
	background-color:#337ab7;
	color:white;
	padding: 10px;
	margin-top: 0px;
}
.todolist{
	margin: 0 30px;
}
.list-unstyled{
	margin: 0 30px;
}
li{
	background-color:#BFC9CA;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.listas{
	overflow-y: scroll;
	height: 150px;
}
